
html {
  width: 100%;
  height: auto;
  overflow-x: hidden;
  position: relative;
}

a,
a:link,
a:visited,
a:active {
  text-decoration: none;
  color: #000;
  cursor: pointer !important;
}

a:hover {
  cursor: pointer !important;
}

body {
  padding: 0;
  margin: 0;
  text-align: left;
  -webkit-font-smoothing: antialiased;
  position:relative;
  height: auto;
}

#home {
  font-family: 'Grotesk-Bold';
  font-size: 208px;
  line-height: 0.88em;
  padding: 80px 85px 0 85px;
  width: calc(100% - 170px);
  height: auto;
  background-color: #fff;
  z-index: 5;
  position: relative;
  letter-spacing: -0.02em;
}

#home a:link,
#home a:visited,
#home a:active {
  font-family:'Grotesk-Regular';
  color:#999;
}

#home a:hover {
  text-decoration: line-through;
}
#look {
  font-family: 'Grotesk-Bold';
  font-size: 208px;
  line-height: 0.88em;
  
  width: calc(100% );
  height: auto;
  background-color: #fff;
  z-index: 5;
  position: relative;
  letter-spacing: -0.02em;
}

#look a:link,
#look a:visited,
#look a:active {
  font-family:'Grotesk-Regular';
  color:#999;
}

#home a:hover {
  text-decoration: line-through;
